*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter Tight', sans-serif;
}

h1{
    font-size: 32px;
    font-weight: bolder;
    color: #B09B71;
}

.kepala{
    display: flex;
    padding: 20px 20px;
    align-items: center;
    justify-content: space-between;
    top: 0;
    font-size: 16pt;
}

.kepala >img:first-child{
    width: 230px;
    height: 80px;
}

.kepala .navi a{
    font-weight: bold;
    color: #B09B71;
    text-decoration: none;
    margin: 0 20px;
}

.kepala .log{
    /* display: flex; */
    align-items: center;
    margin-right: 50px;
}

.kepala .log img,a{
    margin: 0 20px;
}

.kepala .log a{
    color: #B09B71;
    font-family: 'Inter Tight', sans-serif;
    text-decoration: none;
}

.kepala .log >img:first-child{
    width: 32px;
    height: 31px;
}

.kepala .log >img:nth-child(2){
    width: 43px;
    height: 43px;
}