*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter Tight', sans-serif;
}

body{
    background: url(../Media/image/bgdaftar.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.h1{
    font-weight: bold;
}

.row .col-6{
    background-color: white;
}