*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter Tight', sans-serif;
}

p{
    text-align: center;
}

.p{
    text-align: justify;
}

footer{
    color: #EDDFB3;
    background-color: #B09B71;
}

.kepala{
    top: 0;
    font-size: 16pt;
}

.kepala a, .kepala li{
    color: #B09B71;
    text-decoration: none;
}

.h1, .h3{
    color: #B09B71;
}

#e-1{
    background-color: #EDDFB3;
}

#e-2{
    background-color: #D8CCA3;
}

#e-3{
    background-color: #B09B71;
}
/* table >img{
    width: 200px;
    height: 200px;
} */